.top-airing-preview {
  .title{
    color: white;
    &:hover{
      color: #ddd;
    }
  }
  .container-preview {
    .preview{
      margin-bottom: 30px;
    }
  }
}


@media (min-width:600px) {
  .top-airing-preview {
    .title {
      color: white;
    }
    .container-preview {
      display: flex;
      justify-content: space-between;
      .preview {
        width: 20%;
      }
    }
  }
}